<!DOCTYPE html>
<html>
<head>
  <style>
  </style>
</head>
<body>

  <form action="/names" method="post">
    <input type="text" name="player_1">
    <input type="text" name="player_2">
    <button type="submit" name="play">Play!</button>
  </form>

</body>
